@-moz-keyframes shape1 { 
    from { 
        -moz-transform: rotate(0deg); 
    } 
    to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes shape1 { 
    from { 
        -webkit-transform: rotate(0deg); 
    } 
    to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes shape1 { 
    from { 
        transform: rotate(0deg); 
    } 
    to { 
        transform: rotate(360deg); 
    }
}
@keyframes about-shape{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes link-radius {
    0%{
        border-radius: 54% 46% 30% 70% / 45% 41% 59% 55%;
    }
    30%{
        border-radius: 34% 66% 51% 49% / 45% 41% 59% 55%;
    }
    50%{
        border-radius: 34% 66% 51% 49% / 67% 41% 59% 33%;
    }
    80%{
        border-radius: 34% 66% 19% 81% / 67% 41% 59% 33%;
    }
    100%{
        border-radius: 54% 46% 30% 70% / 45% 41% 59% 55%;
    }
}
@keyframes blob1{
    0%{
        border-radius: 54% 46% 30% 70% / 45% 41% 59% 55%;
    }
    30%{
        border-radius: 34% 66% 51% 49% / 45% 41% 59% 55%;
    }
    50%{
        border-radius: 34% 66% 51% 49% / 67% 41% 59% 33%;
    }
    80%{
        border-radius: 34% 66% 19% 81% / 67% 41% 59% 33%;
    }
    100%{
        border-radius: 54% 46% 30% 70% / 45% 41% 59% 55%;
    }
}